body {
	overflow: hidden;
}

.background  {
    background-color: #170f23;
    /*background-image: url('https://raw.githubusercontent.com/NTI-Gymnasiet/makerspacesc1/master/ntig-bg.jpg');*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.background.landscape, .background.portrait {
    display: block;
    position: fixed;
}

.background.landscape img {
    width: 100vw;
    margin-top: -250px;
    margin-left: -700px;
    position: fixed;
    transition: all 100s linear;
}

.background.portrait img {
    margin-top: -300px;
    height: 100vh;
    position: fixed;
    transition: all 100s linear;
}

.page-container {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	top: 250px;
    transition: all 1s linear;
}

.overlay hr {
	position:relative;
	background: #ffffff;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 250px;
	height: 3px;
}


.page h1 {
	font-size: 62px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 30px;
	font-weight: 400;
}

.page {
	animation: swapPage 10s ease 0s infinite none;
}

#rules {
	text-align: left;
	font-family: "Lato", sans-serif;
	border: solid 5px #ffffff;
	margin-left: 100px;
	border-radius: 20px;
	margin-right: 100px;
}

#rules li {
	color: #ffffff;
	margin: 10px;
	font-size: 48px;
	font-weight: 100;
}

#schedule {
	position: relative;
	border: 2px solid white;
	border-radius: 20px;
	margin-left: 100px;
	margin-right: 100px;
	
	visibility: visible;
    transition: all 2s linear;
	
}

#logo {
    position: relative;
    width: 400px;
	top: 200px;
}

@keyframes swapPage {
	0% {
		left: -100vw;
	}
	10% {
		left: 0px;
	}
	89% {
		left: 0px;
	}
	100% {
		left: 100vw;
	}
}